<div class="form-container">
  <div class="form-item">
    <div class="form-label">
      <label for="name">Name</label>
    </div>
    <div class="form-control">
      <input type="text" autocomplete="off" placeholder="Enter Name" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-label">
      <label for="Email">Email</label>
    </div>
    <div class="form-control">
      <input type="email" autocomplete="off" placeholder="Enter Email" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-label">
      <label for="phone">Phone Number</label>
    </div>
    <div class="form-control">
      <input type="tel" autocomplete="off" placeholder="Enter Phone Number" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-label">
      <label for="password">Password</label>
    </div>
    <div class="form-control">
      <input type="password" autocomplete="off" placeholder="Enter Password" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-label">
      <label for="confirm-password">Confirm Password</label>
    </div>
    <div class="form-control">
      <input
        type="password"
        autocomplete="off"
        placeholder="Enter Confirm Password"
      />
    </div>
  </div>

  <div class="form-action">
    <button class="form-submit-btn">Save</button>
  </div>
</div>
